@charset "UTF-8";
/*------------------------------------*\
	CONTENTS
\*------------------------------------*/
/*
RESET
SHARED
CLEARFIX
MAIN
TYPE
IMAGES
TABLES
MISC
*/





/*------------------------------------*\
	$RESET
\*------------------------------------*/
/*
A more considered reset; more of a restart...
*/
html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,hr,
a,abbr,address,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strong,sub,sup,tt,var,
b,u,i,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
	margin:0;
	padding:0;
}
article,aside,details,figcaption,figure,footer,
header,hgroup,menu,nav,section{
	display:block;
}
h1,h2,h3,h4,h5,h6{
	font-size:100%;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}
strong,b,mark{
	font-weight:bold;
	font-style:inherit;
}
em,i,cite,q,address,var{
	font-style:italic;
	font-weight:inherit;
}
abbr[title],dfn[title]{
	cursor:help;
	border-bottom:1px dotted;
}
ins{
	border-bottom:1px solid;
}
a,u,ins{
	text-decoration:none;
}
del,s{
	text-decoration:line-through;
}
code,samp,kbd{
	font-family:monospace;
}
small{
	font-size:0.75em;
}
img{
	border:none;
	font-style:italic;
}
input,
select,
textarea{
	font:inherit;
}





/*------------------------------------*\
	$SHARED
\*------------------------------------*/
/* Common margin-bottom for vertical rhythm. */
h1,h2,h3,h4,h5,h6,
ul,ol,dl,
p,
table,
form,
pre,
hr,
.source{
	margin-bottom:Xpx;
	margin-bottom:Xrem;
}

/* Default indentation value for lists etc. */
ul,ol,dd{
	margin-left:Xem;
}

label,
.text-input,
textarea,
.btn{
	cursor:pointer;
}
.text-input:active,
.text-input:focus,
textarea:active,
textarea:focus{
	cursor:text;
}





/*------------------------------------*\
	$CLEARFIX
\*------------------------------------*/
/*
Big up @necolas: http://nicolasgallagher.com/micro-clearfix-hack/
*/
.cf:before,
.cf:after{
	content:"";
	display:table;
}
.cf:after{
	clear:both;
}
.cf{
	zoom:1;
}





/*------------------------------------*\
	$MAIN
\*------------------------------------*/
html{
	overflow-y:scroll;
	line-height:1.5; /* A safe and comfortable default for body copy at any size. */
}





/*------------------------------------*\
	$TYPE
\*------------------------------------*/
/*--- HEADINGS ---*/
h1,.alpha{
	font-size:Xpx;
	font-size:Xrem;
	line-height:;
}
h2,.beta{
	font-size:Xpx;
	font-size:Xrem;
	line-height:;
}
h3,.gamma{
	font-size:Xpx;
	font-size:Xrem;
	line-height:;
}
h4,.delta{
	font-size:Xpx;
	font-size:Xrem;
	line-height:;
}
h5,.epsilon{
	font-size:Xpx;
	font-size:Xrem;
	line-height:;
}
h6,.zeta{
	font-size:Xpx;
	font-size:Xrem;
	line-height:;
}

/*--- LINKS ---*/
a:hover{
	text-decoration:underline;
}

/*--- LISTS ---*/
li > ul,
li > ol{
	margin-bottom:0;
}

/*--- QUOTES ---*/
/*
Big up @boblet: http://html5doctor.com/blockquote-q-cite/
*/
q{ quotes:"‘" "’" "“" "”"; }

q:before{ content:"‘"; content:open-quote; }
q:after{ content:"’"; content:close-quote; }

q q:before{ content: "“"; content: open-quote; }
q q:after{ content: "”"; content: close-quote; }

blockquote{ quotes: "“" "”"; }
blockquote p:before{ content: "“"; content: open-quote; }
blockquote p:after{ content: ""; content: no-close-quote; }
blockquote p:last-of-type:after{ content: "”"; content: close-quote; }

blockquote{
	text-indent:-0.4em;
}
.source{
	display:block;
	text-indent:0;
	margin-top:-Xpx;
	margin-top:-Xrem;
}
.source:before{
	content:"—";
}





/*------------------------------------*\
	$IMAGES
\*------------------------------------*/
img{
	max-width:100%;
	height:auto;
}





/*------------------------------------*\
	$TABLES
\*------------------------------------*/
table{
	width:100%;
}





/*------------------------------------*\
	$MISC
\*------------------------------------*/
.accessibility{ position:absolute; left:-99999px; }