@charset "UTF-8";
/*------------------------------------*\
	CONTENTS
\*------------------------------------*/
/*
RESET
SHARED
CLEARFIX
MAIN
NAV
MEDIA
ISLAND
TYPE
IMAGES
TABLES
MISC
*/





/*------------------------------------*\
	$RESET
\*------------------------------------*/
/*
A more considered reset; more of a restart... As per: csswizardry.com/2011/10/reset-restarted
*/
html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,hr,
a,abbr,address,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strong,sub,sup,tt,var,
b,u,i,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
	margin:0;
	padding:0;
}
article,aside,details,figcaption,figure,footer,
header,hgroup,menu,nav,section{
	display:block;
}
h1,h2,h3,h4,h5,h6{
	font-size:100%;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}
strong,b,mark{
	font-weight:bold;
	font-style:inherit;
}
em,i,cite,q,address,dfn,var{
	font-style:italic;
	font-weight:inherit;
}
abbr[title],dfn[title]{
	cursor:help;
	border-bottom:1px dotted;
}
ins{
	border-bottom:1px solid;
}
a,u,ins{
	text-decoration:none;
}
del,s{
	text-decoration:line-through;
}
pre,code,samp,kbd{
	font-family:monospace;
}
small{
	font-size:0.75em;
}
img{
	border:none;
	font-style:italic;
}
input,
select,option,optgroup,
textarea{
	font:inherit;
}





/*------------------------------------*\
	$SHARED
\*------------------------------------*/
/* Common margin-bottom for vertical rhythm. */
h1,h2,h3,h4,h5,h6,
ul,ol,dl,
p,
table,
form,
pre,
hr,
.source{
	margin-bottom:Xpx;
	margin-bottom:Xrem;
}

/* Default indentation value for lists etc. */
ul,ol,dd{
	margin-left:Xem;
}

label,
.text-input,
textarea,
.btn{
	cursor:pointer;
}
.text-input:active,
.text-input:focus,
textarea:active,
textarea:focus{
	cursor:text;
}





/*------------------------------------*\
	$CLEARFIX
\*------------------------------------*/
/*
Big up @necolas: nicolasgallagher.com/micro-clearfix-hack
*/
.media:before,
.media:after,
.island:before,
.island:after,
.islet:before,
.islet:after,
.cf:before,
.cf:after{
	content:"";
	display:table;
}
.media:after,
.island:after,
.islet:after,
.cf:after{
	clear:both;
}
.media,
.island,
.islet,
.cf{
	zoom:1;
}





/*------------------------------------*\
	$MAIN
\*------------------------------------*/
html{
	overflow-y:scroll;
	line-height:1.5; /* A safe and comfortable default for body copy at any size. */
}





/*------------------------------------*\
	$NAV
\*------------------------------------*
/*
As per: csswizardry.com/2011/09/the-nav-abstraction
*/
.nav{
	list-style:none;
	margin-left:0;
}
	.nav li{
		display:inline;
	}
		.nav a{
			display:inline-block;
		}





/*------------------------------------*\
	$MEDIA
\*------------------------------------*/
/*
As per: stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code
*/
.media{
    display:block;
}
    .img{
        float:left;
        margin-right:Xpx;
    }
    
    /* Reversed image location (right instead of left). */
    .img-rev{
        float:right;
        margin-left:Xpx;
    }
        .img img{
            display:block;
        }
    .body{
        overflow:hidden;
    }
        .body > :last-child{
            margin-bottom:0;
        }

/*
Islets have a slightly smaller padding value than normal.
With this in mind we make the `.img` spacing a little smaller for visual consistency.
*/
.islet .img{
    margin-right:Xpx;
}
.islet .img-rev{
    margin-left:Xpx;
}





/*------------------------------------*\
	$ISLAND
\*------------------------------------*/
/*
As per csswizardry.com/2011/10/the-island-object
*/
.island,
.islet{
    display:block;
    -webkit-border-radius:Xpx;
       -moz-border-radius:Xpx;
            border-radius:Xpx;
}
.island{
    padding:Xpx;
}
    .island > :last-child,
    .islet > :last-child{
        margin-bottom:0;
    }

/* Just like `.island`, only smaller. */
.islet{
    padding:Xpx;
}





/*------------------------------------*\
	$TYPE
\*------------------------------------*/
/*--- SCALE ---*/
/*
As per csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css
*/

/* Large */
.giga{
	font-size:Xpx;
	font-size:Xrem;
	line-height:;
}
.mega{
	font-size:Xpx;
	font-size:Xrem;
	line-height:;
}
.kilo{
	font-size:Xpx;
	font-size:Xrem;
	line-height:;
}

/* Headings */
/* Generic heading class, as per: jsfiddle.net/csswizardry/yFQDP */
.hN{}

h1,.alpha{
	font-size:Xpx;
	font-size:Xrem;
	line-height:;
}
h2,.beta{
	font-size:Xpx;
	font-size:Xrem;
	line-height:;
}
h3,.gamma{
	font-size:Xpx;
	font-size:Xrem;
	line-height:;
}
h4,.delta{
	font-size:Xpx;
	font-size:Xrem;
	line-height:;
}
h5,.epsilon{
	font-size:Xpx;
	font-size:Xrem;
	line-height:;
}
h6,.zeta{
	font-size:Xpx;
	font-size:Xrem;
	line-height:;
}

/* Small */
small,.milli{
	font-size:Xpx;
	font-size:Xrem;
	line-height:;
}

/*--- LINKS ---*/
a{}
    a:hover,
    a:focus,
    a:active{
        text-decoration:underline;
    }

/* Basic styling for any 'current' links. */
.current a{
    cursor:text;
    text-decoration:underline;
}

/*--- LISTS ---*/
li > ul,
li > ol{
	margin-bottom:0;
}

/*--- QUOTES ---*/
/*
Big up @boblet: html5doctor.com/blockquote-q-cite
*/
q{ quotes:"‘" "’" "“" "”"; }

q:before{ content:"‘"; content:open-quote; }
q:after{ content:"’"; content:close-quote; }

q q:before{ content: "“"; content: open-quote; }
q q:after{ content: "”"; content: close-quote; }

blockquote{ quotes: "“" "”"; }
blockquote p:before{ content: "“"; content: open-quote; }
blockquote p:after{ content: ""; content: no-close-quote; }
blockquote p:last-of-type:after{ content: "”"; content: close-quote; }

blockquote{
	text-indent:-0.4em;
}
.source{
	display:block;
	text-indent:0;
	margin-top:-Xpx;
	margin-top:-Xrem;
}
.source:before{
	content:"—";
}





/*------------------------------------*\
	$IMAGES
\*------------------------------------*/
img{
	max-width:100%;
	height:auto;
}





/*------------------------------------*\
	$TABLES
\*------------------------------------*/
table{
	width:100%;
}





/*------------------------------------*\
	$MISC
\*------------------------------------*/
.accessibility              { position:absolute; left:-99999px; }
[dir=rtl] .accessibility    { left:auto; right:-99999px; }

/*
Helper class to carry brand colours etc as per speakerdeck.com/u/csswizardry/p/breaking-good-habits?slide=31
*/
.brand{
	color:;
}