!!!5
%html{ :lang => 'en'}
	%head
		%meta{ :charset => 'UTF-8'}
		%meta{ :name => 'viewport', :content=> 'width=device-width, minimum-scale=1.0, maximum-scale=1.0'}
		%link{ :rel => 'stylesheet', :href => 'css/style.css'}
		%link{ :rel => 'shortcut icon', :href=> 'images/icon.png'}
		%link{ :rel => 'apple-touch-icon-precomposed', :href => 'images/icon.png'}
		%link{ :type => 'text/plain', :rel => 'author', :href => 'humans.txt'}
		%title Page Title
	%body